*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
h3{
    padding: 10px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center justify;
}
section {
    height: 120px;
    float: left;
    margin: 10px 0px 10px 0px;
}
section > section{
    background-color: darkgrey;
    border: black solid 1px;
    margin: 10px;
}
div{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: black solid 1px;
    width: fit-content;
    padding: 0 2px 0 2px;
    float: right;
    clear: left;
}
p{
    clear: right;
    padding: 6px;
}
#container1 > div{
    background-color: darksalmon;
}
#container2 > div{
    background-color: blueviolet;
}
#container3 > div{
    background-color: crimson;
}
@media(min-width:992px){
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    } 
    .col-lg-6{
        width: 50%;
    } 
    .col-lg-12{
        width: 100%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    } 
    .col-md-6{
        width: 50%;
    } 
    .col-md-12{
        width: 100%;
    }
    .mod:nth-last-child(1):nth-last-child(odd){
        width: 100%;
    }
}
@media(max-width:767px){
    .col-sd-1{
        width: 8.33%;
    }
    .col-sd-2{
        width: 16.66%;
    }
    .col-sd-3{
        width: 25%;
    }
    .col-sd-4{
        width: 33.33%;
    } 
    .col-sd-6{
        width: 50%;
    } 
    .col-sd-12{
        width: 100%;
    }
}



